<!-- Primary Meta Tags -->
<meta name="title" content="Nghia Nguyen-Trung">
<meta name="description" content="Ph.D. Candidate in Statistics and Operations Research at UNC Chapel Hill.">

<!-- Open Graph / Facebook / iMessage / Zalo -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://nghiant01.github.io/">
<meta property="og:title" content="Nghia Nguyen-Trung">
<meta property="og:description" content="Ph.D. Candidate in Statistics and Operations Research at UNC Chapel Hill.">
<meta property="og:image" content="https://nghiant01.github.io/images/Nghia.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://nghiant01.github.io/">
<meta property="twitter:title" content="Nghia Nguyen-Trung">
<meta property="twitter:description" content="Ph.D. Candidate in Statistics and Operations Research at UNC Chapel Hill.">
<meta property="twitter:image" content="https://nghiant01.github.io/images/Nghia.png">
